USE [master]
GO
/****** Object:  Database [PictureStoreDB]    Script Date: 1/5/2022 10:38:57 PM ******/
CREATE DATABASE [PictureStoreDB]
GO
USE [PictureStoreDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/5/2022 10:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 1/5/2022 10:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[total] [int] NOT NULL,
	[status] [nvarchar](max) NULL,
	[userId] [int] NOT NULL,
	[dateCreate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Bill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 1/5/2022 10:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[count] [int] NOT NULL,
	[billId] [int] NOT NULL,
	[pictureId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BillDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 1/5/2022 10:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[author] [nvarchar](max) NOT NULL,
	[dateCreate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 1/5/2022 10:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[descript] [nvarchar](max) NOT NULL,
	[parentId] [int] NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picture]    Script Date: 1/5/2022 10:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picture](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[categoryId] [int] NOT NULL,
	[price] [int] NOT NULL,
	[descript] [nvarchar](max) NULL,
	[material] [nvarchar](max) NULL,
	[size] [nvarchar](max) NULL,
	[author] [nvarchar](max) NULL,
	[likeCount] [int] NOT NULL,
	[imageUrl] [nvarchar](max) NULL,
	[status] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Picture] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 1/5/2022 10:38:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[phonenumber] [nvarchar](15) NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[status] [nvarchar](30) NULL,
	[userType] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([id], [total], [status], [userId], [dateCreate]) VALUES (6, 3113, N'Đã hủy', 6, CAST(N'2022-01-04T16:25:37.210' AS DateTime))
INSERT [dbo].[Bill] ([id], [total], [status], [userId], [dateCreate]) VALUES (7, 8350000, N'Đã giao', 6, CAST(N'2022-01-04T22:35:41.000' AS DateTime))
INSERT [dbo].[Bill] ([id], [total], [status], [userId], [dateCreate]) VALUES (8, 6480000, N'Đã hủy', 2, CAST(N'2022-01-04T22:39:42.290' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[BillDetail] ON 

INSERT [dbo].[BillDetail] ([id], [count], [billId], [pictureId]) VALUES (9, 2, 6, 5)
INSERT [dbo].[BillDetail] ([id], [count], [billId], [pictureId]) VALUES (10, 1, 6, 6)
INSERT [dbo].[BillDetail] ([id], [count], [billId], [pictureId]) VALUES (11, 1, 7, 6)
SET IDENTITY_INSERT [dbo].[BillDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name], [descript], [parentId]) VALUES (2, N'Tranh thêu Hà Nội', N'Tranh thêu tay Hồ Gươm', 0)
INSERT [dbo].[Category] ([id], [name], [descript], [parentId]) VALUES (1002, N'Tranh động vật', N'Tranh thêu tay động vật', 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Picture] ON 

INSERT [dbo].[Picture] ([id], [name], [categoryId], [price], [descript], [material], [size], [author], [likeCount], [imageUrl], [status]) VALUES (3, N'Tranh thêu phong cảnh đồng quê', 1, 980000, N'Bức tranh thêu tay phong cảnh đồng quê thích hợp làm quà tặng mừng tân gia, quà tặng đối tác là khách hay bạn bè quốc tế. Bức tranh không chỉ giới thiệu được phong cảnh nên thơ của đất nước mà còn giới thiệu đến bạn bè quốc tế một nghề truyền thống lâu đời của quê hương', N'vải, gỗ, lụa', N'50x65', NULL, 3, N'/images/pictures/h1.jpg', N'Còn hàng')
SET IDENTITY_INSERT [dbo].[Picture] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [username], [email], [phonenumber], [address], [password], [status], [userType]) VALUES (2, N'user', N'user@email.com', N'12345', N'abcdef', N'RrmLf9qOTw+r5/fWPqqy/PmLQKsHG7AqCGKFbIqHC7UgfUnH', N'Đang hoạt động', N'USER')
INSERT [dbo].[User] ([id], [username], [email], [phonenumber], [address], [password], [status], [userType]) VALUES (3, N'user2', N'emial2@email.com', N'1111', N'1111', N'uIfwvK4jjiY6gAMlypcab89/KGplq7mM1roNUqvQPS6AsjKB', N'Đang hoạt động', N'ADMIN')
INSERT [dbo].[User] ([id], [username], [email], [phonenumber], [address], [password], [status], [userType]) VALUES (4, N'thaatj', N'test@email.comm', N'asdasd', N'1111', N'mngjd1tqwdYPdTpLTYNGBizo6+UkJCPjyuzle6LQdzcOlz4C', N'Đang hoạt động', N'ADMIN')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_userId]    Script Date: 1/5/2022 10:38:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_userId] ON [dbo].[Bill]
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_billId]    Script Date: 1/5/2022 10:38:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_billId] ON [dbo].[BillDetail]
(
	[billId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_pictureId]    Script Date: 1/5/2022 10:38:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_pictureId] ON [dbo].[BillDetail]
(
	[pictureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_categoryId]    Script Date: 1/5/2022 10:38:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_categoryId] ON [dbo].[Picture]
(
	[categoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [dateCreate]
GO
ALTER TABLE [dbo].[Blog] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [dateCreate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('') FOR [userType]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Bill_dbo.User_userId] FOREIGN KEY([userId])
REFERENCES [dbo].[User] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bill] CHECK CONSTRAINT [FK_dbo.Bill_dbo.User_userId]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BillDetail_dbo.Bill_billId] FOREIGN KEY([billId])
REFERENCES [dbo].[Bill] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_dbo.BillDetail_dbo.Bill_billId]
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BillDetail_dbo.Picture_pictureId] FOREIGN KEY([pictureId])
REFERENCES [dbo].[Picture] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillDetail] CHECK CONSTRAINT [FK_dbo.BillDetail_dbo.Picture_pictureId]
GO
ALTER TABLE [dbo].[Picture]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Picture_dbo.Category_categoryId] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Picture] CHECK CONSTRAINT [FK_dbo.Picture_dbo.Category_categoryId]
GO
USE [master]
GO
